.card {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 10px;

  cursor: pointer;
  font-family: "Courgette", cursive;
  background-color: #e8e8e8;
}

.show_question_card {
  display: flex;
  flex-wrap: wrap;
  font-family: "Courgette", cursive;
  background-color: #e8e8e8;
}
.card:hover {
  /* z-ind
  /* background-color: #e56021; */
  color: #e56021;
}
.card:active {
  color: #e56021;
}

.card:focus {
  color: #e56021;
}
