.question {
  border: 1px solid grey;
  border: none;
}

.question_input {
  padding: 10px;
  width: 740.575px;

  border: none;
  border-style: hidden;
  border-bottom: dotted;
}

.add_option {
  border: 1px solid gray;
  width: 740.575px;
  margin: 10px;
  border-radius: 5px;
  height: 48.4px;
  justify-content: center;
  display: flex;
  background-color: #f0f0f0;
  /* margin-top: 10px; */
}

.question_option {
  margin-top: 150px;
  text-align: center;
  justify-content: center;
}

input::placeholder {
  text-align: center;
}
