* {
  background-color: #e8e8e8;
  font-family: "Courgette", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  margin-left: 750px;
  margin-top: 300px;
  /* align-items: center;
  align-content: center; */
}
.create_quizz {
  font-size: 30px !important;
  font-family: "Courgette", cursive;
}

.quizz_app {
  background-color: #7b89a3;
}
